<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ MAIN.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="icon" href="{{ MAIN.icon }}" type="image/x-icon">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- Sheet Style -->
	<link rel="stylesheet" href="{{ MAIN.static }}/theme/sallar/css/main_style.css" />

	<meta name="title" content ="programming"><title>{{ MAIN.title }}</title>

	<meta name="description" content="programming">

</head>
<body>


   <div class="contianer">

      <div class="row">

        <div class="logo">
        	<img src="{{ MAIN.static }}/theme/sallar/img/logo1.png" alt="logo" class="img-responsive">
        </div>
		<p class="name">{{ MAIN.title }}</p>
		<p class="bio">{{ MAIN.description }}</br>
		<p> {{ MAIN.tools }} </p>
		<p class="motto">{{ MAIN.note }}</p>


	    <footer>
    	<div class="footer-menu">
    		<a target="_blank" href="{{ MAIN.instagram }}" style="color:black"><i class="fab fa-instagram"></i></a>
			<a target="_blank" href="{{ MAIN.twitter }}" style="color:black"><i class="fab fa-twitter"></i></a>
			<a target="_blank" href="{{ MAIN.youtube }}" style="color:black"><i class="fab fa-youtube"></i></a>
			<a target="_blank" href="{{ MAIN.github }}" style="color:black"><i class="fab fa-github"></i></a>
			<a target="_blank" href="{{ MAIN.gits }}" style="color:black"><i class="fas fa-book"></i></a>
			<a target="_blank" href="{{ MAIN.keybase }}" style="color:black"><i class="fab fa-keybase"></i></a>
			<a target="_blank" href="{{ MAIN.linkedin }}" style="color:black"><i class="fab fa-linkedin"></i></a>
			<!--a target="_blank" href="{{ MAIN.pdfresume }}" style="color:black"><i class="fas fa-file-pdf"></i></a --!>
			<a target="_blank" href="{{ MAIN.medium }}" style="color:black"><i class="fab fa-medium"></i></a>
			<a target="_blank" href="{{ MAIN.skype }}" style="color:black"><i class="fab fa-skype"></i></a>
			<a target="_blank" href="mailto:{{ MAIN.email }}" style="color:black"><i class="fas fa-at"></i></a>
			<a href="/fa" style="color:black"><i class="fas fa-align-right"></i></a>
    	</div>

		<p class="copyright">&copy; All right reserved - 2018</a></p>
    </footer>


      </div>

   </div>

<style>
 body{
 background-color: #fcfcfc;
 	}
</style>
</body>
</html>
